@font-face {
    font-family: Windsor;
    src: url(https://strange.com.ar/build/assets/windsoref-bold-webfont-0d8f37c4.woff2) format("woff2"),url(https://strange.com.ar/build/assets/windsoref-bold-webfont-0d8f37c4.woff2) format("woff");
    font-weight: 400;
    font-style: normal
}

html {
    height: 100%;
}

body {
    background-color: #8d94d4 !important;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
}

header {
    display:flex;
    flex-direction: column;
   justify-content: center;
   gap:1rem;
}

.logo {
    height: 17vh;
    align-self: center;
}

/*NavBar*/
.navbarf{
    margin-left: 250px;
    --bs-navbar-nav-link-padding-x: 6rem;
}

/*titulos*/
h1 {
    color: #000000;
    font-family: Windsor,sans-serif;
    font-size: 400%;
    margin-bottom: 3vw;
    text-align: center;
    position: relative;  
}

.latas{
    align-self: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .latas{
        width: 50%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .latas{
        width: 50%;
    }
}

/*quienes somos*/
.sobreNosotros{
    font-size: 26px;
    color: #000000;
    line-height: 1.5;
    text-align: center;
    font-family: monospace;
}

/*Estilos*/

.estilos1 {
    font-size: 25px;
    font-family: monospace;
    font-style: italic;
    text-shadow: #000000;
}

.estilos2 {
    font-size: 25px;
    font-family: monospace;
    font-style: italic;
    text-shadow: #000000;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .latas{
        width: 50%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .latas{
        width: 50%;
    }
}








/*contactanos*/
.contacto{
    display: inline-flex;
    flex-direction: column;
    height: 40vh;
    width: 40vw;
    justify-content: space-around;
    margin-left: 30%;
}

input {
    height: 4vh;
}

textarea{
    height: 12vh;
}

.grid-loyout{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: flex-start;
    margin-left: 100px;
    gap: 30px;
}

/*encontranos*/
h3{
    font-size: 200%;
    text-align: center;
    text-decoration: underline;
}

.hora1{
    font-size: 150%;
    flex-grow: 1;
    line-height: 2;
    text-align: center;
}

.hora2{
    text-align: center;
    font-size: 150%;
    flex-grow: 1;
    line-height: 2;
}

.hora3{
    text-align: center;
    font-size: 150%;
    flex-grow: 1;
    line-height: 2; 
}

.direccion{
    font-size: 200%;
    line-height: 2;
    text-align: center;
}

.mapa{
    display: inline-block;
    padding:5px;
    box-sizing: border-box;
    float:right
}

.mapa img {
    width:200px;
    margin-right: 200px;
}
